<nav class="nav-link nav-collapse">
  <div class="menu">
    <div class="logo"><span class="title">Eshop</span></div>

    <div class="menu-links">
      <ul>
        <li>
          <a
            [routerLink]="['/home']"
            [routerLinkActive]="'is-active'"
            class="text-navigation"
            href="#"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="is-active"
            class="text-navigation"
            href="#"
            >About us</a
          >
        </li>
        <li>
          <a
            class="text-navigation"
            routerLink="/shop"
            routerLinkActive="is-active"
            href="#"
          >
            Shop
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/account']"
            [routerLinkActive]="'is-active'"
            class="text-navigation"
            href="#"
            >Account</a
          >
        </li>
        <li><a class="text-navigation" href="#">Contact us</a></li>
      </ul>
    </div>
    <div class="menu-icons">
      <ul>
        <li>
          <a class="text-navigation" href="#"
            ><i class="bi bi-search" style="font-size: 20px; margin: 0 1rem"></i
          ></a>
        </li>
        <li>
          <a class="text-navigation" href="#"
            ><i class="bi bi-cart" style="font-size: 20px; margin: 0 1rem"></i
          ></a>
        </li>
        <li>
          <a class="text-navigation" href="#"
            ><i class="bi bi-person" style="font-size: 25px; margin: 0 1rem"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
