<form [formGroup]="filters">
  <div class="mb-4">
    <label for="author" class="form-label">Author</label>
    <select class="form-select" id="author" formControlName="author">
      <option value="" selected>No choice</option>
      <option
        *ngFor="let value of filtersSelectOptions['author']"
        [value]="value"
      >
        {{ value }}
      </option>
    </select>
  </div>
  <div class="mb-4">
    <label for="price" class="form-label">Price</label>
    <input
      class="form-control"
      id="price"
      formControlName="price"
      placeholder="Filter by Price"
    />
  </div>
  <div class="mb-4">
    <label for="key" class="form-label">Key</label>
    <select class="form-select" id="key" formControlName="key">
      <option value="" selected>No choice</option>
      <option *ngFor="let value of filtersSelectOptions['key']" [value]="value">
        {{ value }}
      </option>
    </select>
  </div>
  <div class="mb-4">
    <label for="category" class="form-label">Category</label>
    <select class="form-select" id="category" formControlName="category">
      <option value="" selected>No choice</option>
      <option
        *ngFor="let value of filtersSelectOptions['category']"
        [value]="value"
      >
        {{ value }}
      </option>
    </select>
  </div>
</form>
