<form [formGroup]="filters">
  <div class="mb-4">
    <label for="author" class="form-label">Author(s)</label>
    <input
      class="form-control"
      id="author"
      formControlName="author"
      placeholder="Filter by Authors"
    />
  </div>
  <div class="mb-4">
    <label for="price" class="form-label">Price</label>
    <input
      class="form-control"
      id="price"
      formControlName="price"
      placeholder="Filter by Price"
    />
  </div>
  <div class="mb-4">
    <label for="key" class="form-label">Key</label>
    <select class="form-select" id="key" formControlName="key">
      <option value="" selected>No choice</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="G">G</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="category" class="form-label">Category</label>
    <select class="form-select" id="category" formControlName="category">
      <option value="" selected>No choice</option>
      <option value="trap">Trap</option>
    </select>
  </div>
</form>
