<div class="card mx-5" style="width: 18rem">
  <img class="card-img-top" [src]="product.image" alt="Card image cap" />
  <div class="card-body">
    <h3 class="card-title text-center">{{ product?.title }}</h3>

    <div class="card-text d-flex flex-column text-center">
      <small>{{ product?.price | currency }}</small>
      <small>{{ product?.category }}</small>
      <small>{{ product?.bpm }} BPM </small>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>
</div>
